<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{request.site.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{MEDIA_URL}}css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{MEDIA_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{MEDIA_URL}}css/custom.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{MEDIA_URL}}ico/favicon.ico">
    <!-- link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{MEDIA_URL}}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}ico/apple-touch-icon-57-precomposed.png"-->


    <script src="{{MEDIA_URL}}js/custom.js"></script>

  {%block meta %}
  {% endblock %}

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{{request.site.name}}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li {% if active == 'index' %}class="active"{%endif%}><a href="{% url index %}">Home</a></li>
              <li {% if active == 'items' %}class="active"{%endif%}><a href="{% url items %}">My items</a></li>
              <li {% if active == 'offers' %}class="active"{%endif%}><a href="{% url offers %}">My Offers</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% if messages %}
    <div class="span12">
        {% for message in messages %}
        <div class="alert fade in {% if message.tags %} alert-{{ message.tags }}{% endif %}">
            <a class="close" href="#" data-dismiss="alert">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    </div>
    {% endif %}
    <div class="container">
        <div id="content-list-items">
          {% block content %}
          <h1>Bootstrap starter template</h1>
          <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
          {% endblock %}

        </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="{{MEDIA_URL}}js/jquery.js"></script-->
    <script src="{{MEDIA_URL}}js/bootstrap.min.js"></script>
  </body>
</html>
