{% extends 'targetitem/item_detail.html' %}
{% block content %}
<div class="row">
  <div class="span6 left">
    <h1>{{offer.target.name|title}}</h1>
    {% thumbnail offer.target.picture "140x140" as img %}
    <img src="{{img.url}}"/>
    {%endthumbnail%}
    <p>owned by {{offer.target.owner}}.</p>
    {{offer.target.description}}
    <h3>Tags</h3>
    <ul id="item-tags">
      {% for tag in item.tags.all %}
          <li>{{tag}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="span6 left">
    <h1>{{offer.offered.name|title}}</h1>
    {% thumbnail offer.offered.picture "140x140" as img %}
    <img src="{{img.url}}"/>
    {%endthumbnail%}
    <p>owned by {{offered.target.owner}}.</p>
    {{offer.offered.description}}
    <h3>Tags</h3>
    <ul id="item-tags">
      {% for tag in offer.offered.tags.all %}
          <li>{{tag}}</li>
      {% endfor %}
    </ul>
  </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
